@keyframes spin {
  0% {
    --shape: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }

  1% {
    --shape: polygon(
      53.14% 0.099%,
      61.92% 35.72%,
      98.847% 38.044%,
      67.525% 58.116%,
      76.368% 92.74%,
      48.744% 69.961%,
      18.483% 89.098%,
      31.596% 55.856%,
      3.037% 32.016%,
      39.964% 34.339%
    );
  }

  2% {
    --shape: polygon(
      56.267% 0.394%,
      62.793% 36.497%,
      99.502% 41.134%,
      66.981% 59.201%,
      73.633% 94.311%,
      47.493% 69.842%,
      16.09% 87.042%,
      31.265% 54.689%,
      4.258% 29.102%,
      40.967% 33.74%
    );
  }

  3% {
    --shape: polygon(
      59.369% 0.886%,
      63.616% 37.327%,
      99.961% 44.26%,
      66.37% 60.249%,
      70.804% 95.708%,
      46.252% 69.646%,
      13.831% 84.84%,
      31.007% 53.503%,
      5.661% 26.271%,
      42.006% 33.204%
    );
  }

  4% {
    --shape: polygon(
      62.434% 1.571%,
      64.385% 38.207%,
      100.222% 47.408%,
      65.694% 61.257%,
      67.893% 96.924%,
      45.026% 69.372%,
      11.715% 82.5%,
      30.825% 52.304%,
      7.238% 23.534%,
      43.076% 32.736%
    );
  }

  5% {
    --shape: polygon(
      65.451% 2.447%,
      65.097% 39.133%,
      100.286% 50.567%,
      64.956% 62.22%,
      64.911% 97.955%,
      43.82% 69.021%,
      9.75% 80.032%,
      30.718% 51.095%,
      8.985% 20.901%,
      44.174% 32.335%
    );
  }

  6% {
    --shape: polygon(
      68.406% 3.511%,
      65.749% 40.103%,
      100.151% 53.723%,
      64.159% 63.135%,
      61.87% 98.796%,
      42.638% 68.596%,
      7.943% 77.445%,
      30.687% 49.882%,
      10.893% 18.383%,
      45.294% 32.004%
    );
  }

  7% {
    --shape: polygon(
      71.289% 4.759%,
      66.34% 41.111%,
      99.818% 56.865%,
      63.306% 63.998%,
      58.783% 99.446%,
      41.484% 68.097%,
      6.303% 74.75%,
      30.733% 48.67%,
      12.955% 15.99%,
      46.434% 31.744%
    );
  }

  8% {
    --shape: polygon(
      74.088% 6.185%,
      66.866% 42.155%,
      99.289% 59.98%,
      62.401% 64.806%,
      55.661% 99.899%,
      40.365% 67.526%,
      4.835% 71.958%,
      30.854% 47.463%,
      15.164% 13.731%,
      47.587% 31.556%
    );
  }

  9% {
    --shape: polygon(
      76.791% 7.784%,
      67.325% 43.229%,
      98.565% 63.055%,
      61.447% 65.555%,
      52.517% 100.156%,
      39.283% 66.887%,
      3.546% 69.078%,
      31.051% 46.265%,
      17.51% 11.615%,
      48.75% 31.441%
    );
  }

  10% {
    --shape: polygon(
      79.389% 9.549%,
      67.716% 44.33%,
      97.65% 66.078%,
      60.448% 66.243%,
      49.362% 100.215%,
      38.244% 66.18%,
      2.439% 66.124%,
      31.323% 45.083%,
      19.984% 9.651%,
      49.918% 31.399%
    );
  }

  11% {
    --shape: polygon(
      81.871% 11.474%,
      68.037% 45.454%,
      96.546% 69.039%,
      59.407% 66.867%,
      46.211% 100.076%,
      37.252% 65.41%,
      1.521% 63.106%,
      31.669% 43.92%,
      22.577% 7.846%,
      51.086% 31.431%
    );
  }

  12% {
    --shape: polygon(
      84.227% 13.552%,
      68.287% 46.595%,
      95.259% 71.924%,
      58.33% 67.425%,
      43.074% 99.74%,
      36.309% 64.579%,
      0.793% 60.036%,
      32.087% 42.781%,
      25.278% 6.207%,
      52.25% 31.535%
    );
  }

  13% {
    --shape: polygon(
      86.448% 15.773%,
      68.465% 47.75%,
      93.793% 74.722%,
      57.219% 67.913%,
      39.964% 99.207%,
      35.421% 63.691%,
      0.26% 56.926%,
      32.575% 41.67%,
      28.076% 4.741%,
      53.405% 31.713%
    );
  }

  14% {
    --shape: polygon(
      88.526% 18.129%,
      68.569% 48.914%,
      92.154% 77.423%,
      56.08% 68.331%,
      36.894% 98.479%,
      34.59% 62.748%,
      -0.076% 53.789%,
      33.133% 40.593%,
      30.961% 3.454%,
      54.546% 31.963%
    );
  }

  15% {
    --shape: polygon(
      90.451% 20.611%,
      68.601% 50.082%,
      90.349% 80.016%,
      54.917% 68.677%,
      33.876% 97.561%,
      33.82% 61.756%,
      -0.215% 50.638%,
      33.757% 39.552%,
      33.922% 2.35%,
      55.67% 32.284%
    );
  }

  16% {
    --shape: polygon(
      92.216% 23.209%,
      68.559% 51.25%,
      88.385% 82.49%,
      53.735% 68.949%,
      30.922% 96.454%,
      33.113% 60.717%,
      -0.156% 47.483%,
      34.445% 38.553%,
      36.945% 1.435%,
      56.771% 32.675%
    );
  }

  17% {
    --shape: polygon(
      93.815% 25.912%,
      68.444% 52.413%,
      86.269% 84.836%,
      52.537% 69.146%,
      28.042% 95.165%,
      32.474% 59.635%,
      0.101% 44.339%,
      35.194% 37.599%,
      40.02% 0.711%,
      57.845% 33.134%
    );
  }

  18% {
    --shape: polygon(
      95.241% 28.711%,
      68.256% 53.566%,
      84.01% 87.045%,
      51.33% 69.267%,
      25.25% 93.697%,
      31.903% 58.516%,
      0.554% 41.217%,
      36.002% 36.694%,
      43.135% 0.182%,
      58.889% 33.66%
    );
  }

  19% {
    --shape: polygon(
      96.489% 31.594%,
      67.996% 54.706%,
      81.617% 89.107%,
      50.118% 69.313%,
      22.555% 92.057%,
      31.404% 57.362%,
      1.204% 38.13%,
      36.865% 35.841%,
      46.277% -0.151%,
      59.897% 34.251%
    );
  }

  20% {
    --shape: polygon(
      97.553% 34.549%,
      67.665% 55.826%,
      79.099% 91.015%,
      48.905% 69.282%,
      19.968% 90.25%,
      30.979% 56.18%,
      2.045% 35.089%,
      37.78% 35.044%,
      49.433% -0.286%,
      60.867% 34.903%
    );
  }

  21% {
    --shape: polygon(
      98.429% 37.566%,
      67.264% 56.924%,
      76.466% 92.762%,
      47.696% 69.175%,
      17.5% 88.285%,
      30.628% 54.974%,
      3.076% 32.107%,
      38.743% 34.306%,
      52.592% -0.222%,
      61.793% 35.615%
    );
  }

  22% {
    --shape: polygon(
      99.114% 40.631%,
      66.796% 57.994%,
      73.729% 94.339%,
      46.497% 68.993%,
      15.16% 86.169%,
      30.354% 53.748%,
      4.292% 29.196%,
      39.751% 33.63%,
      55.74% 0.039%,
      62.673% 36.384%
    );
  }

  23% {
    --shape: polygon(
      99.606% 43.733%,
      66.26% 59.033%,
      70.898% 95.742%,
      45.311% 68.735%,
      12.958% 83.91%,
      30.158% 52.507%,
      5.689% 26.367%,
      40.799% 33.019%,
      58.866% 0.498%,
      63.503% 37.207%
    );
  }

  24% {
    --shape: polygon(
      99.901% 46.86%,
      65.661% 60.036%,
      67.984% 96.963%,
      44.144% 68.404%,
      10.902% 81.517%,
      30.039% 51.256%,
      7.26% 23.632%,
      41.884% 32.475%,
      61.956% 1.153%,
      64.28% 38.08%
    );
  }

  25% {
    --shape: polygon(
      100% 50%,
      65% 61%,
      65% 98%,
      43% 68%,
      9% 79%,
      30% 50%,
      9% 21%,
      43% 32%,
      65% 2%,
      65% 39%
    );
  }

  26% {
    --shape: polygon(
      99.901% 53.14%,
      64.28% 61.92%,
      61.956% 98.847%,
      41.884% 67.525%,
      7.26% 76.368%,
      30.039% 48.744%,
      10.902% 18.483%,
      44.144% 31.596%,
      67.984% 3.037%,
      65.661% 39.964%
    );
  }

  27% {
    --shape: polygon(
      99.606% 56.267%,
      63.503% 62.793%,
      58.866% 99.502%,
      40.799% 66.981%,
      5.689% 73.633%,
      30.158% 47.493%,
      12.958% 16.09%,
      45.311% 31.265%,
      70.898% 4.258%,
      66.26% 40.967%
    );
  }

  28% {
    --shape: polygon(
      99.114% 59.369%,
      62.673% 63.616%,
      55.74% 99.961%,
      39.751% 66.37%,
      4.292% 70.804%,
      30.354% 46.252%,
      15.16% 13.831%,
      46.497% 31.007%,
      73.729% 5.661%,
      66.796% 42.006%
    );
  }

  29% {
    --shape: polygon(
      98.429% 62.434%,
      61.793% 64.385%,
      52.592% 100.222%,
      38.743% 65.694%,
      3.076% 67.893%,
      30.628% 45.026%,
      17.5% 11.715%,
      47.696% 30.825%,
      76.466% 7.238%,
      67.264% 43.076%
    );
  }

  30% {
    --shape: polygon(
      97.553% 65.451%,
      60.867% 65.097%,
      49.433% 100.286%,
      37.78% 64.956%,
      2.045% 64.911%,
      30.979% 43.82%,
      19.968% 9.75%,
      48.905% 30.718%,
      79.099% 8.985%,
      67.665% 44.174%
    );
  }

  31% {
    --shape: polygon(
      96.489% 68.406%,
      59.897% 65.749%,
      46.277% 100.151%,
      36.865% 64.159%,
      1.204% 61.87%,
      31.404% 42.638%,
      22.555% 7.943%,
      50.118% 30.687%,
      81.617% 10.893%,
      67.996% 45.294%
    );
  }

  32% {
    --shape: polygon(
      95.241% 71.289%,
      58.889% 66.34%,
      43.135% 99.818%,
      36.002% 63.306%,
      0.554% 58.783%,
      31.903% 41.484%,
      25.25% 6.303%,
      51.33% 30.733%,
      84.01% 12.955%,
      68.256% 46.434%
    );
  }

  33% {
    --shape: polygon(
      93.815% 74.088%,
      57.845% 66.866%,
      40.02% 99.289%,
      35.194% 62.401%,
      0.101% 55.661%,
      32.474% 40.365%,
      28.042% 4.835%,
      52.537% 30.854%,
      86.269% 15.164%,
      68.444% 47.587%
    );
  }

  34% {
    --shape: polygon(
      92.216% 76.791%,
      56.771% 67.325%,
      36.945% 98.565%,
      34.445% 61.447%,
      -0.156% 52.517%,
      33.113% 39.283%,
      30.922% 3.546%,
      53.735% 31.051%,
      88.385% 17.51%,
      68.559% 48.75%
    );
  }

  35% {
    --shape: polygon(
      90.451% 79.389%,
      55.67% 67.716%,
      33.922% 97.65%,
      33.757% 60.448%,
      -0.215% 49.362%,
      33.82% 38.244%,
      33.876% 2.439%,
      54.917% 31.323%,
      90.349% 19.984%,
      68.601% 49.918%
    );
  }

  36% {
    --shape: polygon(
      88.526% 81.871%,
      54.546% 68.037%,
      30.961% 96.546%,
      33.133% 59.407%,
      -0.076% 46.211%,
      34.59% 37.252%,
      36.894% 1.521%,
      56.08% 31.669%,
      92.154% 22.577%,
      68.569% 51.086%
    );
  }

  37% {
    --shape: polygon(
      86.448% 84.227%,
      53.405% 68.287%,
      28.076% 95.259%,
      32.575% 58.33%,
      0.26% 43.074%,
      35.421% 36.309%,
      39.964% 0.793%,
      57.219% 32.087%,
      93.793% 25.278%,
      68.465% 52.25%
    );
  }

  38% {
    --shape: polygon(
      84.227% 86.448%,
      52.25% 68.465%,
      25.278% 93.793%,
      32.087% 57.219%,
      0.793% 39.964%,
      36.309% 35.421%,
      43.074% 0.26%,
      58.33% 32.575%,
      95.259% 28.076%,
      68.287% 53.405%
    );
  }

  39% {
    --shape: polygon(
      81.871% 88.526%,
      51.086% 68.569%,
      22.577% 92.154%,
      31.669% 56.08%,
      1.521% 36.894%,
      37.252% 34.59%,
      46.211% -0.076%,
      59.407% 33.133%,
      96.546% 30.961%,
      68.037% 54.546%
    );
  }

  40% {
    --shape: polygon(
      79.389% 90.451%,
      49.918% 68.601%,
      19.984% 90.349%,
      31.323% 54.917%,
      2.439% 33.876%,
      38.244% 33.82%,
      49.362% -0.215%,
      60.448% 33.757%,
      97.65% 33.922%,
      67.716% 55.67%
    );
  }

  41% {
    --shape: polygon(
      76.791% 92.216%,
      48.75% 68.559%,
      17.51% 88.385%,
      31.051% 53.735%,
      3.546% 30.922%,
      39.283% 33.113%,
      52.517% -0.156%,
      61.447% 34.445%,
      98.565% 36.945%,
      67.325% 56.771%
    );
  }

  42% {
    --shape: polygon(
      74.088% 93.815%,
      47.587% 68.444%,
      15.164% 86.269%,
      30.854% 52.537%,
      4.835% 28.042%,
      40.365% 32.474%,
      55.661% 0.101%,
      62.401% 35.194%,
      99.289% 40.02%,
      66.866% 57.845%
    );
  }

  43% {
    --shape: polygon(
      71.289% 95.241%,
      46.434% 68.256%,
      12.955% 84.01%,
      30.733% 51.33%,
      6.303% 25.25%,
      41.484% 31.903%,
      58.783% 0.554%,
      63.306% 36.002%,
      99.818% 43.135%,
      66.34% 58.889%
    );
  }

  44% {
    --shape: polygon(
      68.406% 96.489%,
      45.294% 67.996%,
      10.893% 81.617%,
      30.687% 50.118%,
      7.943% 22.555%,
      42.638% 31.404%,
      61.87% 1.204%,
      64.159% 36.865%,
      100.151% 46.277%,
      65.749% 59.897%
    );
  }

  45% {
    --shape: polygon(
      65.451% 97.553%,
      44.174% 67.665%,
      8.985% 79.099%,
      30.718% 48.905%,
      9.75% 19.968%,
      43.82% 30.979%,
      64.911% 2.045%,
      64.956% 37.78%,
      100.286% 49.433%,
      65.097% 60.867%
    );
  }

  46% {
    --shape: polygon(
      62.434% 98.429%,
      43.076% 67.264%,
      7.238% 76.466%,
      30.825% 47.696%,
      11.715% 17.5%,
      45.026% 30.628%,
      67.893% 3.076%,
      65.694% 38.743%,
      100.222% 52.592%,
      64.385% 61.793%
    );
  }

  47% {
    --shape: polygon(
      59.369% 99.114%,
      42.006% 66.796%,
      5.661% 73.729%,
      31.007% 46.497%,
      13.831% 15.16%,
      46.252% 30.354%,
      70.804% 4.292%,
      66.37% 39.751%,
      99.961% 55.74%,
      63.616% 62.673%
    );
  }

  48% {
    --shape: polygon(
      56.267% 99.606%,
      40.967% 66.26%,
      4.258% 70.898%,
      31.265% 45.311%,
      16.09% 12.958%,
      47.493% 30.158%,
      73.633% 5.689%,
      66.981% 40.799%,
      99.502% 58.866%,
      62.793% 63.503%
    );
  }

  49% {
    --shape: polygon(
      53.14% 99.901%,
      39.964% 65.661%,
      3.037% 67.984%,
      31.596% 44.144%,
      18.483% 10.902%,
      48.744% 30.039%,
      76.368% 7.26%,
      67.525% 41.884%,
      98.847% 61.956%,
      61.92% 64.28%
    );
  }

  50% {
    --shape: polygon(
      50% 100%,
      39% 65%,
      2% 65%,
      32% 43%,
      21% 9%,
      50% 30%,
      79% 9%,
      68% 43%,
      98% 65%,
      61% 65%
    );
  }

  51% {
    --shape: polygon(
      46.86% 99.901%,
      38.08% 64.28%,
      1.153% 61.956%,
      32.475% 41.884%,
      23.632% 7.26%,
      51.256% 30.039%,
      81.517% 10.902%,
      68.404% 44.144%,
      96.963% 67.984%,
      60.036% 65.661%
    );
  }

  52% {
    --shape: polygon(
      43.733% 99.606%,
      37.207% 63.503%,
      0.498% 58.866%,
      33.019% 40.799%,
      26.367% 5.689%,
      52.507% 30.158%,
      83.91% 12.958%,
      68.735% 45.311%,
      95.742% 70.898%,
      59.033% 66.26%
    );
  }

  53% {
    --shape: polygon(
      40.631% 99.114%,
      36.384% 62.673%,
      0.039% 55.74%,
      33.63% 39.751%,
      29.196% 4.292%,
      53.748% 30.354%,
      86.169% 15.16%,
      68.993% 46.497%,
      94.339% 73.729%,
      57.994% 66.796%
    );
  }

  54% {
    --shape: polygon(
      37.566% 98.429%,
      35.615% 61.793%,
      -0.222% 52.592%,
      34.306% 38.743%,
      32.107% 3.076%,
      54.974% 30.628%,
      88.285% 17.5%,
      69.175% 47.696%,
      92.762% 76.466%,
      56.924% 67.264%
    );
  }

  55% {
    --shape: polygon(
      34.549% 97.553%,
      34.903% 60.867%,
      -0.286% 49.433%,
      35.044% 37.78%,
      35.089% 2.045%,
      56.18% 30.979%,
      90.25% 19.968%,
      69.282% 48.905%,
      91.015% 79.099%,
      55.826% 67.665%
    );
  }

  56% {
    --shape: polygon(
      31.594% 96.489%,
      34.251% 59.897%,
      -0.151% 46.277%,
      35.841% 36.865%,
      38.13% 1.204%,
      57.362% 31.404%,
      92.057% 22.555%,
      69.313% 50.118%,
      89.107% 81.617%,
      54.706% 67.996%
    );
  }

  57% {
    --shape: polygon(
      28.711% 95.241%,
      33.66% 58.889%,
      0.182% 43.135%,
      36.694% 36.002%,
      41.217% 0.554%,
      58.516% 31.903%,
      93.697% 25.25%,
      69.267% 51.33%,
      87.045% 84.01%,
      53.566% 68.256%
    );
  }

  58% {
    --shape: polygon(
      25.912% 93.815%,
      33.134% 57.845%,
      0.711% 40.02%,
      37.599% 35.194%,
      44.339% 0.101%,
      59.635% 32.474%,
      95.165% 28.042%,
      69.146% 52.537%,
      84.836% 86.269%,
      52.413% 68.444%
    );
  }

  59% {
    --shape: polygon(
      23.209% 92.216%,
      32.675% 56.771%,
      1.435% 36.945%,
      38.553% 34.445%,
      47.483% -0.156%,
      60.717% 33.113%,
      96.454% 30.922%,
      68.949% 53.735%,
      82.49% 88.385%,
      51.25% 68.559%
    );
  }

  60% {
    --shape: polygon(
      20.611% 90.451%,
      32.284% 55.67%,
      2.35% 33.922%,
      39.552% 33.757%,
      50.638% -0.215%,
      61.756% 33.82%,
      97.561% 33.876%,
      68.677% 54.917%,
      80.016% 90.349%,
      50.082% 68.601%
    );
  }

  61% {
    --shape: polygon(
      18.129% 88.526%,
      31.963% 54.546%,
      3.454% 30.961%,
      40.593% 33.133%,
      53.789% -0.076%,
      62.748% 34.59%,
      98.479% 36.894%,
      68.331% 56.08%,
      77.423% 92.154%,
      48.914% 68.569%
    );
  }

  62% {
    --shape: polygon(
      15.773% 86.448%,
      31.713% 53.405%,
      4.741% 28.076%,
      41.67% 32.575%,
      56.926% 0.26%,
      63.691% 35.421%,
      99.207% 39.964%,
      67.913% 57.219%,
      74.722% 93.793%,
      47.75% 68.465%
    );
  }

  63% {
    --shape: polygon(
      13.552% 84.227%,
      31.535% 52.25%,
      6.207% 25.278%,
      42.781% 32.087%,
      60.036% 0.793%,
      64.579% 36.309%,
      99.74% 43.074%,
      67.425% 58.33%,
      71.924% 95.259%,
      46.595% 68.287%
    );
  }

  64% {
    --shape: polygon(
      11.474% 81.871%,
      31.431% 51.086%,
      7.846% 22.577%,
      43.92% 31.669%,
      63.106% 1.521%,
      65.41% 37.252%,
      100.076% 46.211%,
      66.867% 59.407%,
      69.039% 96.546%,
      45.454% 68.037%
    );
  }

  65% {
    --shape: polygon(
      9.549% 79.389%,
      31.399% 49.918%,
      9.651% 19.984%,
      45.083% 31.323%,
      66.124% 2.439%,
      66.18% 38.244%,
      100.215% 49.362%,
      66.243% 60.448%,
      66.078% 97.65%,
      44.33% 67.716%
    );
  }

  66% {
    --shape: polygon(
      7.784% 76.791%,
      31.441% 48.75%,
      11.615% 17.51%,
      46.265% 31.051%,
      69.078% 3.546%,
      66.887% 39.283%,
      100.156% 52.517%,
      65.555% 61.447%,
      63.055% 98.565%,
      43.229% 67.325%
    );
  }

  67% {
    --shape: polygon(
      6.185% 74.088%,
      31.556% 47.587%,
      13.731% 15.164%,
      47.463% 30.854%,
      71.958% 4.835%,
      67.526% 40.365%,
      99.899% 55.661%,
      64.806% 62.401%,
      59.98% 99.289%,
      42.155% 66.866%
    );
  }

  68% {
    --shape: polygon(
      4.759% 71.289%,
      31.744% 46.434%,
      15.99% 12.955%,
      48.67% 30.733%,
      74.75% 6.303%,
      68.097% 41.484%,
      99.446% 58.783%,
      63.998% 63.306%,
      56.865% 99.818%,
      41.111% 66.34%
    );
  }

  69% {
    --shape: polygon(
      3.511% 68.406%,
      32.004% 45.294%,
      18.383% 10.893%,
      49.882% 30.687%,
      77.445% 7.943%,
      68.596% 42.638%,
      98.796% 61.87%,
      63.135% 64.159%,
      53.723% 100.151%,
      40.103% 65.749%
    );
  }

  70% {
    --shape: polygon(
      2.447% 65.451%,
      32.335% 44.174%,
      20.901% 8.985%,
      51.095% 30.718%,
      80.032% 9.75%,
      69.021% 43.82%,
      97.955% 64.911%,
      62.22% 64.956%,
      50.567% 100.286%,
      39.133% 65.097%
    );
  }

  71% {
    --shape: polygon(
      1.571% 62.434%,
      32.736% 43.076%,
      23.534% 7.238%,
      52.304% 30.825%,
      82.5% 11.715%,
      69.372% 45.026%,
      96.924% 67.893%,
      61.257% 65.694%,
      47.408% 100.222%,
      38.207% 64.385%
    );
  }

  72% {
    --shape: polygon(
      0.886% 59.369%,
      33.204% 42.006%,
      26.271% 5.661%,
      53.503% 31.007%,
      84.84% 13.831%,
      69.646% 46.252%,
      95.708% 70.804%,
      60.249% 66.37%,
      44.26% 99.961%,
      37.327% 63.616%
    );
  }

  73% {
    --shape: polygon(
      0.394% 56.267%,
      33.74% 40.967%,
      29.102% 4.258%,
      54.689% 31.265%,
      87.042% 16.09%,
      69.842% 47.493%,
      94.311% 73.633%,
      59.201% 66.981%,
      41.134% 99.502%,
      36.497% 62.793%
    );
  }

  74% {
    --shape: polygon(
      0.099% 53.14%,
      34.339% 39.964%,
      32.016% 3.037%,
      55.856% 31.596%,
      89.098% 18.483%,
      69.961% 48.744%,
      92.74% 76.368%,
      58.116% 67.525%,
      38.044% 98.847%,
      35.72% 61.92%
    );
  }

  75% {
    --shape: polygon(
      0% 50%,
      35% 39%,
      35% 2%,
      57% 32%,
      91% 21%,
      70% 50%,
      91% 79%,
      57% 68%,
      35% 98%,
      35% 61%
    );
  }

  76% {
    --shape: polygon(
      0.099% 46.86%,
      35.72% 38.08%,
      38.044% 1.153%,
      58.116% 32.475%,
      92.74% 23.632%,
      69.961% 51.256%,
      89.098% 81.517%,
      55.856% 68.404%,
      32.016% 96.963%,
      34.339% 60.036%
    );
  }

  77% {
    --shape: polygon(
      0.394% 43.733%,
      36.497% 37.207%,
      41.134% 0.498%,
      59.201% 33.019%,
      94.311% 26.367%,
      69.842% 52.507%,
      87.042% 83.91%,
      54.689% 68.735%,
      29.102% 95.742%,
      33.74% 59.033%
    );
  }

  78% {
    --shape: polygon(
      0.886% 40.631%,
      37.327% 36.384%,
      44.26% 0.039%,
      60.249% 33.63%,
      95.708% 29.196%,
      69.646% 53.748%,
      84.84% 86.169%,
      53.503% 68.993%,
      26.271% 94.339%,
      33.204% 57.994%
    );
  }

  79% {
    --shape: polygon(
      1.571% 37.566%,
      38.207% 35.615%,
      47.408% -0.222%,
      61.257% 34.306%,
      96.924% 32.107%,
      69.372% 54.974%,
      82.5% 88.285%,
      52.304% 69.175%,
      23.534% 92.762%,
      32.736% 56.924%
    );
  }

  80% {
    --shape: polygon(
      2.447% 34.549%,
      39.133% 34.903%,
      50.567% -0.286%,
      62.22% 35.044%,
      97.955% 35.089%,
      69.021% 56.18%,
      80.032% 90.25%,
      51.095% 69.282%,
      20.901% 91.015%,
      32.335% 55.826%
    );
  }

  81% {
    --shape: polygon(
      3.511% 31.594%,
      40.103% 34.251%,
      53.723% -0.151%,
      63.135% 35.841%,
      98.796% 38.13%,
      68.596% 57.362%,
      77.445% 92.057%,
      49.882% 69.313%,
      18.383% 89.107%,
      32.004% 54.706%
    );
  }

  82% {
    --shape: polygon(
      4.759% 28.711%,
      41.111% 33.66%,
      56.865% 0.182%,
      63.998% 36.694%,
      99.446% 41.217%,
      68.097% 58.516%,
      74.75% 93.697%,
      48.67% 69.267%,
      15.99% 87.045%,
      31.744% 53.566%
    );
  }

  83% {
    --shape: polygon(
      6.185% 25.912%,
      42.155% 33.134%,
      59.98% 0.711%,
      64.806% 37.599%,
      99.899% 44.339%,
      67.526% 59.635%,
      71.958% 95.165%,
      47.463% 69.146%,
      13.731% 84.836%,
      31.556% 52.413%
    );
  }

  84% {
    --shape: polygon(
      7.784% 23.209%,
      43.229% 32.675%,
      63.055% 1.435%,
      65.555% 38.553%,
      100.156% 47.483%,
      66.887% 60.717%,
      69.078% 96.454%,
      46.265% 68.949%,
      11.615% 82.49%,
      31.441% 51.25%
    );
  }

  85% {
    --shape: polygon(
      9.549% 20.611%,
      44.33% 32.284%,
      66.078% 2.35%,
      66.243% 39.552%,
      100.215% 50.638%,
      66.18% 61.756%,
      66.124% 97.561%,
      45.083% 68.677%,
      9.651% 80.016%,
      31.399% 50.082%
    );
  }

  86% {
    --shape: polygon(
      11.474% 18.129%,
      45.454% 31.963%,
      69.039% 3.454%,
      66.867% 40.593%,
      100.076% 53.789%,
      65.41% 62.748%,
      63.106% 98.479%,
      43.92% 68.331%,
      7.846% 77.423%,
      31.431% 48.914%
    );
  }

  87% {
    --shape: polygon(
      13.552% 15.773%,
      46.595% 31.713%,
      71.924% 4.741%,
      67.425% 41.67%,
      99.74% 56.926%,
      64.579% 63.691%,
      60.036% 99.207%,
      42.781% 67.913%,
      6.207% 74.722%,
      31.535% 47.75%
    );
  }

  88% {
    --shape: polygon(
      15.773% 13.552%,
      47.75% 31.535%,
      74.722% 6.207%,
      67.913% 42.781%,
      99.207% 60.036%,
      63.691% 64.579%,
      56.926% 99.74%,
      41.67% 67.425%,
      4.741% 71.924%,
      31.713% 46.595%
    );
  }

  89% {
    --shape: polygon(
      18.129% 11.474%,
      48.914% 31.431%,
      77.423% 7.846%,
      68.331% 43.92%,
      98.479% 63.106%,
      62.748% 65.41%,
      53.789% 100.076%,
      40.593% 66.867%,
      3.454% 69.039%,
      31.963% 45.454%
    );
  }

  90% {
    --shape: polygon(
      20.611% 9.549%,
      50.082% 31.399%,
      80.016% 9.651%,
      68.677% 45.083%,
      97.561% 66.124%,
      61.756% 66.18%,
      50.638% 100.215%,
      39.552% 66.243%,
      2.35% 66.078%,
      32.284% 44.33%
    );
  }

  91% {
    --shape: polygon(
      23.209% 7.784%,
      51.25% 31.441%,
      82.49% 11.615%,
      68.949% 46.265%,
      96.454% 69.078%,
      60.717% 66.887%,
      47.483% 100.156%,
      38.553% 65.555%,
      1.435% 63.055%,
      32.675% 43.229%
    );
  }

  92% {
    --shape: polygon(
      25.912% 6.185%,
      52.413% 31.556%,
      84.836% 13.731%,
      69.146% 47.463%,
      95.165% 71.958%,
      59.635% 67.526%,
      44.339% 99.899%,
      37.599% 64.806%,
      0.711% 59.98%,
      33.134% 42.155%
    );
  }

  93% {
    --shape: polygon(
      28.711% 4.759%,
      53.566% 31.744%,
      87.045% 15.99%,
      69.267% 48.67%,
      93.697% 74.75%,
      58.516% 68.097%,
      41.217% 99.446%,
      36.694% 63.998%,
      0.182% 56.865%,
      33.66% 41.111%
    );
  }

  94% {
    --shape: polygon(
      31.594% 3.511%,
      54.706% 32.004%,
      89.107% 18.383%,
      69.313% 49.882%,
      92.057% 77.445%,
      57.362% 68.596%,
      38.13% 98.796%,
      35.841% 63.135%,
      -0.151% 53.723%,
      34.251% 40.103%
    );
  }

  95% {
    --shape: polygon(
      34.549% 2.447%,
      55.826% 32.335%,
      91.015% 20.901%,
      69.282% 51.095%,
      90.25% 80.032%,
      56.18% 69.021%,
      35.089% 97.955%,
      35.044% 62.22%,
      -0.286% 50.567%,
      34.903% 39.133%
    );
  }

  96% {
    --shape: polygon(
      37.566% 1.571%,
      56.924% 32.736%,
      92.762% 23.534%,
      69.175% 52.304%,
      88.285% 82.5%,
      54.974% 69.372%,
      32.107% 96.924%,
      34.306% 61.257%,
      -0.222% 47.408%,
      35.615% 38.207%
    );
  }

  97% {
    --shape: polygon(
      40.631% 0.886%,
      57.994% 33.204%,
      94.339% 26.271%,
      68.993% 53.503%,
      86.169% 84.84%,
      53.748% 69.646%,
      29.196% 95.708%,
      33.63% 60.249%,
      0.039% 44.26%,
      36.384% 37.327%
    );
  }

  98% {
    --shape: polygon(
      43.733% 0.394%,
      59.033% 33.74%,
      95.742% 29.102%,
      68.735% 54.689%,
      83.91% 87.042%,
      52.507% 69.842%,
      26.367% 94.311%,
      33.019% 59.201%,
      0.498% 41.134%,
      37.207% 36.497%
    );
  }

  99% {
    --shape: polygon(
      46.86% 0.099%,
      60.036% 34.339%,
      96.963% 32.016%,
      68.404% 55.856%,
      81.517% 89.098%,
      51.256% 69.961%,
      23.632% 92.74%,
      32.475% 58.116%,
      1.153% 38.044%,
      38.08% 35.72%
    );
  }

  100% {
    --shape: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }
}
