{% extends "base.html" %}
{% block style %}
    {{ super() }}
    <!--{% include("public/dir.css") %}-->
{% endblock %}

{% macro table(rows) %}
    {% if rows|length > 0 %}
        <table>
            <thead>
                <tr>
                    {% for key in rows[0].keys() %}
                        <th>{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        {% for value in row.values() %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endmacro %}

{% block content %}
    <h2>Admin panel</h2>
    {{table(passwords)}}
    <form action="password" method="post">
        <input type="text" name="password" />
        <input type="number" name="access_level" />
        <input type="submit" />
    </form>
{% endblock %}
