:root {
    --primary: #f22c57;
    --foreground: #ffffff;
    --background: #2c3746;

    --black: #28333f;
    --red: #f22c57;
    --green: #28a09c;
    --yellow: #ddab5c;
    --blue: #176ef1;
    --magenta: #af69dd;
    --cyan: #4fb0b3;
    --white: #879596;

    --bright-black: #2b3644;
    --bright-red: #f22c57;
    --bright-green: #2aacaa;
    --bright-yellow: #f7c067;
    --bright-blue: #176ef1;
    --bright-magenta: #cb75f7;
    --bright-cyan: #5cc6d1;
    --bright-white: #9cacad;
}

@font-face {
    font-family: "DotGothic";
    src: url("/static/fonts/DotGothic16-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    image-rendering: pixelated;
    font-family: "DotGothic", sans-serif;
    text-decoration-thickness: 2px;
}

body {
    position: relative;

    background-color: var(--background);
    color: var(--foreground);

    margin: 0;

    padding-top: 2em;

    display: flex;
    justify-content: center;

    font-size: 150%;

    min-height: 100vh;

    background-image: url("/static/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.left {
    float: left;
    animation-direction: normal !important;
    animation-duration: 0.9s !important;
}

.right {
    float: right;
    animation-direction: reverse !important;
    animation-duration: 1.1s !important;
}

.c {
    width: 30%;
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: 2.5em;

    background-color: var(--yellow);

    --p1: calc((1 / 10 + (var(--i) / 100 * 1 / 5)) * 2 * pi);
    --p2: calc((2 / 10 + (var(--i) / 100 * 1 / 5)) * 2 * pi);
    --p3: calc((3 / 10 + (var(--i) / 100 * 1 / 5)) * 2 * pi);
    --p4: calc((4 / 10 + (var(--i) / 100 * 1 / 5)) * 2 * pi);
    --p5: calc((5 / 10 + (var(--i) / 100 * 1 / 5)) * 2 * pi);
    --p6: calc((6 / 10 + (var(--i) / 100 * 1 / 5)) * 2 * pi);
    --p7: calc((7 / 10 + (var(--i) / 100 * 1 / 5)) * 2 * pi);
    --p8: calc((8 / 10 + (var(--i) / 100 * 1 / 5)) * 2 * pi);
    --p9: calc((9 / 10 + (var(--i) / 100 * 1 / 5)) * 2 * pi);
    --p10: calc((10 / 10 + (var(--i) / 100 * 1 / 5)) * 2 * pi);
    --shape: polygon(
        calc(50% + 50% * cos(var(--p1))) calc(50% + 50% * sin(var(--p1))),
        calc(50% + 30% * cos(var(--p2))) calc(50% + 30% * sin(var(--p2))),
        calc(50% + 50% * cos(var(--p3))) calc(50% + 50% * sin(var(--p3))),
        calc(50% + 30% * cos(var(--p4))) calc(50% + 30% * sin(var(--p4))),
        calc(50% + 50% * cos(var(--p5))) calc(50% + 50% * sin(var(--p5))),
        calc(50% + 30% * cos(var(--p6))) calc(50% + 30% * sin(var(--p6))),
        calc(50% + 50% * cos(var(--p7))) calc(50% + 50% * sin(var(--p7))),
        calc(50% + 30% * cos(var(--p8))) calc(50% + 30% * sin(var(--p8))),
        calc(50% + 50% * cos(var(--p9))) calc(50% + 50% * sin(var(--p9))),
        calc(50% + 30% * cos(var(--p10))) calc(50% + 30% * sin(var(--p10)))
    );

    shape-outside: var(--shape);
    clip-path: var(--shape);

    animation: iter 1s linear infinite;

    &:has(input:checked) {
        animation-play-state: paused;
        background-color: var(--red);
    }

    & > input {
        display: none;
    }
}

.star {
    & > .shard {
        position: absolute;

        width: 20em;
        aspect-ratio: 1 / 1;

        background-color: var(--yellow);
        cursor: alias;

        --duration: 10s;

        --p1: calc((2 / 10 + (var(--i) / 100)) * 2 * pi);
        --p2: calc((3 / 10 + (var(--i) / 100)) * 2 * pi);
        --p3: calc((4 / 10 + (var(--i) / 100)) * 2 * pi);
        --shape: polygon(
            calc(50% + 30% * cos(var(--p1))) calc(50% + 30% * sin(var(--p1))),
            calc(50% + 50% * cos(var(--p2))) calc(50% + 50% * sin(var(--p2))),
            calc(50% + 30% * cos(var(--p3))) calc(50% + 30% * sin(var(--p3))),
            50% 50%
        );

        shape-outside: var(--shape);
        clip-path: var(--shape);

        animation: iter 10s linear infinite;

        &:nth-child(1) {
            animation-delay: -8s;
        }

        &:nth-child(2) {
            animation-delay: -6s;
        }

        &:nth-child(3) {
            animation-delay: -4s;
        }

        &:nth-child(4) {
            animation-delay: -2s;
        }

        &:nth-child(5) {
            position: relative;
        }

        &:hover {
            opacity: 0.5;
            transition: opacity 0.2s linear;
        }
    }

    & > strong {
        position: absolute;
        inset: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 2.5em;
        pointer-events: none;
    }

    & > input {
        display: none;
    }
}

@property --i {
    syntax: "<number>";
    initial-value: 0;
    inherits: false;
}

@keyframes iter {
    from {
        --i: 0;
    }
    to {
        --i: 100;
    }
}

h1 {
    color: var(--yellow);
    font-size: 3em;
    font-size: 3rem;

    & > a {
        text-decoration-thickness: 4px;
        color: inherit;
    }
}

body:has(.left input:checked) h1 > label.otto {
    color: var(--red);
}

body:has(.right input:checked) h1 > label.ng {
    color: var(--red);
}

.enter {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    &:has(#enter-checkbox:checked) {
        display: none;
    }
}

.base {
    position: relative;

    width: min(1000px, 90vw);
    background-color: color-mix(in srgb, var(--background) 70%, transparent);
    height: fit-content;
    padding: 1em;

    border-width: 2px;
    border-style: solid;
    border-color: var(--white);

    & > .account {
        position: absolute;
        top: 0.5em;
        right: 0.5em;

        & > .header {
            font-weight: bold;
        }
    }

    & h2 {
        color: var(--green);
        font-size: 2em;
        margin: 0;
    }

    & h3 {
        color: var(--blue);
        font-size: 1.8em;
        margin: 0;
    }

    & p {
        padding: 2em;
    }

    & a {
        color: var(--cyan);
    }
}

footer {
    & > a {
        text-decoration: none;

        & > img {
            width: 88px;
            height: 31px;
        }
    }
}
