:root {
    --primary: #f22c57;
    --foreground: #ffffff;
    --background: #2c3746;

    --black: #28333f;
    --red: #f22c57;
    --green: #28a09c;
    --yellow: #ddab5c;
    --blue: #176ef1;
    --magenta: #af69dd;
    --cyan: #4fb0b3;
    --white: #879596;

    --bright-black: #2b3644;
    --bright-red: #f22c57;
    --bright-green: #2aacaa;
    --bright-yellow: #f7c067;
    --bright-blue: #176ef1;
    --bright-magenta: #cb75f7;
    --bright-cyan: #5cc6d1;
    --bright-white: #9cacad;
}

@font-face {
    font-family: "DotGothic";
    src: url("/static/fonts/DotGothic16-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    image-rendering: pixelated;
    font-family: monospace, sans-serif;
    text-decoration-thickness: 2px;
}

body {
    position: relative;

    background-color: var(--background);
    color: var(--foreground);

    margin: 0;

    display: flex;
    justify-content: center;

    font-size: 100%;

    min-height: 100vh;

    background-image: url("/static/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 1000px) {
    body {
        padding-top: 2em;
    }
}

h1 {
    color: var(--yellow);
    font-size: 3em;
    font-size: 3rem;

    & > a {
        text-decoration-thickness: 4px;
        color: inherit;
    }
}

.enter {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    &:has(#enter-checkbox:checked) {
        display: none;
    }
}

.base {
    position: relative;

    width: min(1000px, 100vw);
    background-color: color-mix(in srgb, var(--background) 70%, transparent);
    height: fit-content;
    padding: 1em;

    border-width: 2px;
    border-style: solid;
    border-color: var(--white);

    & > .account {
        position: absolute;
        top: 0.5em;
        right: 0.5em;

        & > .header {
            font-weight: bold;
        }
    }

    & h2 {
        color: var(--green);
        font-size: 2em;
        margin: 0;
    }

    & h3 {
        color: var(--blue);
        font-size: 1.8em;
        margin: 0;
    }

    & p {
        padding: 2em;
    }

    & a {
        color: var(--cyan);
    }
}

footer {
    & > a {
        text-decoration: none;

        & > img {
            width: 88px;
            height: 31px;
        }
    }
}

input {
    all: unset;

    border-width: 2px;
    border-style: solid;
    border-color: var(--white);
}

button {
    all: unset;
    border-width: 2px;
    border-style: solid;
    border-color: var(--white);

    padding-inline: 0.5em;

    &:hover {
        background-color: var(--white);
        color: var(--background);
    }
}
