<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>otto.romi.ng</title>
  </head>
  <body>
    <main>
        {% block content %} {% endblock content %}
        <footer>
            <div class="_88x31">
                <a href="https://coolinggrooling.online/">
                    <img src="/88x31/coolinggrooling.gif" alt="cooling grooling">
                </a>
                <a href="http://thorsson.tplinkdns.com:55744/">
                    <img src="/88x31/thorssontplinkdns.gif" alt="thorsson tplink dns">
                </a>
                <a href="https://ladybird.org/">
                    <img src="/88x31/anybrowser.gif" alt="any browser">
                </a>
                <a>
                    <img src="/88x31/88x31.gif" alt="88x31">
                </a>
                <a href="https://archlinux.org/">
                    <img src="/88x31/archlinux.gif" alt="arch linux">
                </a>
                <a href="https://www.microsoft.com/en-us/servicesagreement/">
                    <img src="/88x31/tos.gif" alt="terms of service">
                </a>
            </div>
        </footer>
    </main>
    <div class="background">
      {% for i in range(end=10000) %}
      <span class="tile"></span>
      {% endfor %}
    </div>
  </body>
</html>
