{% extends "base.html" %} {% block style %} {{ super() }} {% include
"public.css" %} {% endblock %} {% block content %}
<strong>Path: /{{path}}</strong>
<div class="entries">
    <a class="entry" title=".." href=".">
        <div class="icon">
            <span>
                <pre>
 _
| \___
|     |
|_____|</pre
                >
            </span>
        </div>
        <span class="name">..</span>
    </a>

    {% for entry in entries %}
    <a
        class="entry"
        title="{{ entry.name }}"
        href="{{ url_for('public', path=path + '/' + entry.name) }}"
    >
        <div class="icon">
            <span>
                {% if entry.type == "dir" %}
                <pre>
 _
| \___
|     |
|_____|</pre
                >
                {% elif entry.type == "file" %}
                <pre>
 ____
|    \
|     |
|     |
|_____|</pre
                >
                {% elif entry.type == "symlink" %}
                <pre>

 ____|\
|      \
|____  /
     |/</pre
                >
                {% endif %}
            </span>
        </div>
        <span class="name">{{ entry.name }}</span>
    </a>
    {% endfor %}
</div>
{% endblock %}
