{% if mode == "icons" %}
    <a
        class="direntry icons"
        title="{{ entry.name }}"
        {% if entry.preview_availible %}
            href="{{ url_for('preview', path=display_path + '/' + entry.name) }}"
        {% else %}
            href="{{ url_for('public', path=display_path + '/' + entry.name) + '?mode=' + mode }}"
        {% endif %}
    >
        <div class="icon">
            <span>
                {% if entry.type == "dir" %}
                    <pre>
 _
| \___
|     |
|_____|</pre>
                {% elif entry.type == "file" %}
                    <pre>
 ____
|    \
|     |
|_____|</pre>
                {% elif entry.type == "symlink" %}
                    <pre>

 ____|\
|      \
|____  /
     |/</pre>
                {% endif %}
            </span>
        </div>
        <div class="name">{{ entry.name }}</div>
    </a>
{% elif mode == "details" %}
    <a
        class="direntry details"
        title="{{ entry.name }}"
        {% if entry.preview_availible %}
            href="{{ url_for('preview', path=display_path + '/' + entry.name) }}"
        {% else %}
            href="{{ url_for('public', path=display_path + '/' + entry.name) + '?mode=' + mode }}"
        {% endif %}
    >
        <table>
            <tbody>
                <tr>
                    <td class="mode">{{ entry.mode }}</td>
                    <td class="owner">{{ entry.owner }}</td>
                    <td class="modified">{{ entry.modified_day }}</td>
                    <td class="modified">{{ entry.modified_month }}</td>
                    <td class="modified">{{ entry.modified_year }}</td>
                    <td class="name">{{ entry.name }}</td>
                </tr>
            </tbody>
        </table>
    </a>
{% endif %}
