<a
    class="direntry"
    title="{{ entry.name }}"
    {% if entry.preview_availible %}
        href="{{ url_for('preview', path=display_path + '/' + entry.name) }}"
    {% else %}
        href="{{ url_for('public', path=display_path + '/' + entry.name) }}"
    {% endif %}
>
    <div class="icon">
        <span>
            {% if entry.type == "dir" %}
                <pre>
 _
| \___
|     |
|_____|</pre>
            {% elif entry.type == "file" %}
                <pre>
 ____
|    \
|     |
|_____|</pre>
            {% elif entry.type == "symlink" %}
                <pre>

 ____|\
|      \
|____  /
     |/</pre>
            {% endif %}
        </span>
    </div>
    <div class="name">{{ entry.name }}</div>
</a>
