{% extends "base.html" %}
{% block style %}
    {{ super() }}
    {% include("public/dir.css") %}
{% endblock %}
{% block content %}
    <h2>File Browser</h2>
    <div class="dir">
        <div class="bar">
            <div class="path">Path: /{{ display_path }}</div>
            <div class="mode">
                <a
                    href="?mode=icons"
                    {% if mode == "icons" %} class="active" {% endif %}
                >icons</a>
                <a 
                    href="?mode=details"
                    {% if mode == "details" %} class="active" {% endif %}
                >details</a>
            </div>
        </div>
        <div class="entries">
            <!-- .. directory  -->
            {%
                set entry = {
                    "name": "..",
                    "type": "dir",
                    "preview_availible": False
                }
            %}
            {% include("components/direntry.html") %}
            <!-- List directory contents -->
            {% for entry in entries %}
                {% include("components/direntry.html") %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
