{% extends "base.html" %}
{% block style %}
    {{ super() }}
    {% include("public/dir.css") %}
{% endblock %}
{% block content %}
    <h2>File Browser</h2>
    <div class="dir">
        <strong>Path: /{{ display_path }}</strong>
        <div class="entries">
            <!-- .. directory  -->
            {%
                set entry = {
                    "name": "..",
                    "type": "dir",
                    "preview_availible": False
                }
            %}
            {% include("components/direntry.html") %}
            <!-- List directory contents -->
            {% for entry in entries %}
                {% include("components/direntry.html") %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
